/**
 * Styles for the gvj theme.
 */

p {
  text-align: justify;
}

.logo img {
  height: 35px;
}

.geo {
  display: none;
}

footer {
  background-color: #054D4A;
  color: #FFFFFF;
}

footer a {
  color: #ffffff;
}

