/**
 * Styles for the gvj theme.
 */

body {
  font-family: "Open Sans", sans-serif;
}

p {
  text-align: justify;
}

h1, h2 {
  text-align: center;
  font-weight: 600;
  color: #4E4E4E;
}

header .lead {
  display: none;
}

.logo img {
  height: 35px;
}

/* Footer */
.geo {
  display: none;
}

footer {
  background-color: #054D4A;
  color: #FFFFFF;
}

footer h1, footer h2 {
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer .block:first-child h2.block-title {
  margin-top: 20px;
}

ul.follow li {
  list-style: none;
  display: inline;
}

/* Consulting */
.technologies {
  background-color: #282f36;
  color: #ffffff;
}

.technologies h1, .technologies h2 {
  color: #ffffff;
}

.technologies .feature i {
  color: #ffffff;
}

.feature {
  min-height: 200px;
}
.feature i {
  font-size: 48px;
  float: left;
  color: #054D4A;
  height: 200px;
  width: 110px;
  line-height: 200px;
  margin: auto;
  text-align: center;
}

.client {
  text-align: center;
}
.client img {
  width: 100px;
}

