/**
 * Styles for the gvj theme.
 */

p {
  text-align: justify;
}

h1, h2 {
  text-align: center;
}

header .lead {
  display: none;
}

.logo img {
  height: 35px;
}

.geo {
  display: none;
}

footer {
  background-color: #054D4A;
  color: #FFFFFF;
}

footer a {
  color: #ffffff;
}

footer .block:first-child h2.block-title {
  margin-top: 20px;
}

ul.follow li {
  list-style: none;
  display: inline;
}

/* Consulting */
.technologies {
  background-color: #f3f3f3;
}

.feature {
  min-height: 200px;
}
.feature i {
  font-size: 48px;
  float: left;
  color: #054D4A;
  height: 200px;
  width: 110px;
  line-height: 200px;
  margin: auto;
  text-align: center;
}
