/**
 * Styles for the gvj theme.
 */

body {
  font-family: "Open Sans", sans-serif;
}

p, li {
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.58;
}

h1 {
  text-transform: uppercase;
}

h1, h2 {
  text-align: center;
  font-weight: 600;
  color: #4E4E4E;
}

a {
  color: #054D4A;
  font-weight: bold;
}

a:hover {
  color: #054D4A;
}


.page-header {
  border-bottom: none;
}

header .lead {
  display: none;
}

.logo img {
  height: 35px;
}

/* Menu */
.navbar-default {
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #054D4A;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #054D4A;
  background-color: #f3f3f3;
  font-weight: bold;
}

/* Language switcher */
#block-locale-language {
  float: right;
}

#block-locale-language ul {
  list-style-type: none;
  text-transform: uppercase;
}

#block-locale-language li {
  display: inline;
}

/* Footer */
.geo {
  display: none;
}

footer {
  background-color: #054D4A;
  color: #FFFFFF;
}

footer h1, footer h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  text-align: left;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #f1852d;
}

footer .block:first-child h2.block-title {
  margin-top: 20px;
}

ul.follow {
  padding-left: 0;
}

ul.follow li {
  list-style: none;
  display: inline;
  padding-right: 5px;
}

/* Consulting */
.page-node-4 h1.page-header {
  color: #805e4b;
}

.technologies, .services, .clients {
  padding-top: 75px;
  padding-bottom: 75px;
}

.technologies {
  background-color: #805e4b;
  color: #fff;
}

.technologies h1,
.technologies h2,
.technologies h3,
.technologies .feature i {
  color: #fff;
}

.feature {
  min-height: 200px;
}
.feature i {
  font-size: 48px;
  color: #805e4b;
  width: 60px;
}

.client {
  text-align: center;
}
.client img {
  width: 100px;
}

/* Web */
.web .feature i,
.page-node-3 h1.page-header {
  color: #f1852d;
}

.btn-web,
.btn-consulting {
  color: #ffffff;
  background-color: #f1852d;
  font-weight: bold;
  border-color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

a.btn-web:hover,
a.btn-consulting:hover {
  background-color: #f1852d;
  color: #ffffff;
}

.btn-consulting,
a.btn-consulting:hover {
  background-color: #805e4b;
}

/* Work */

.page-node-2 .region-content h3,
#block-views-work-latest h3 {
  font-size: 18px;
  text-align: center;
}

.page-node-2 .region-content p,
#block-views-work-latest p {
  text-align: center;
}

.page-node-2 .region-content .thumbnail,
#block-views-work-latest .thumbnail {
  border: none;
}

.page-node-2 .region-content img,
#block-views-work-latest img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.page-node-2 .region-content img:hover,
#block-views-work-latest img:hover {
  opacity: 0.5;
}

#block-views-work-consulting h2.block-title {
  color: #805e4b;
  text-transform: uppercase;
}

#block-views-work-consulting .caption h3 a {
  color: #805e4b;
  font-weight: bold;
}

#block-views-work-web h2.block-title {
  color: #f1852d;
  text-transform: uppercase;
}

#block-views-work-web .caption h3 a {
  color: #f1852d;
  font-weight: bold;
}

#block-views-work-consulting .thumbnail a > img,
#block-views-work-web .thumbnail a > img {
  height: 150px;
}

.node-work.view-mode-full .field-name-post-date {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

.node-work.view-mode-full .field-name-field-content-image {
  background-color: #efefef;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.node-work.view-mode-full .field-name-field-content-image img {
  margin: auto;
}

.node-work.view-mode-full .field-name-field-work-url {
  text-align: center;
}

/* Home */
.front h2 {
  text-transform: uppercase;
}

.webconsulting {
  background: #fafafb;
  border-top: 2px solid;
  border-bottom: 1px solid #cdced3;
  margin-top: 50px;
}

.webconsulting .web,
.webconsulting .consulting {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 50px;
  transition: background 1s ease;
}

.webconsulting a {
  color: #333;
}

.webconsulting .web:hover {
  background: #f1852d;
  color: #fff;
}

.webconsulting .web:hover h2 {
  color: #fff;
}

.webconsulting .web h2 {
  color: #f1852d;
}

.webconsulting .consulting:hover {
  background: #805e4b;
  color: #fff;
}

.webconsulting .consulting:hover h2 {
  color: #fff;
}

.webconsulting .consulting h2 {
  color: #805e4b;
}

.front .thumbnail img {
  height: 150px;
}

/* Who am I ?*/
.page-node-1 .region-content .container {
  padding-bottom: 5%;
}

/* Contact */
.page-contact .main-container {
  padding-bottom: 100px;
}

/* Blog */
.view-news.view-display-id-page {
  max-width: 600px;
  margin: auto;
}

.view-news.view-display-id-page h2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.view-news.view-display-id-page .row {
  margin-bottom: 50px;
}

.node-article.view-mode-full,
.node-work.view-mode-full .field-name-body {
  max-width: 600px;
  margin: auto;
}

.node-article.view-mode-full p,
.node-work.view-mode-full p {
  margin-top: 30px;
}

.node-article .field-name-post-date {
  text-transform: uppercase;
}

.node-article h2 {
  text-align: left;
}

